RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "i_ref_clk" SITE "C8" ;
IOBUF PORT "i_ref_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "dac_clk_n" SITE "E10" ;
LOCATE COMP "dac_clk_p" SITE "D10" ;
LOCATE COMP "i_clk_n" SITE "A10" ;
LOCATE COMP "i_clk_p" SITE "B9" ;
LOCATE COMP "o_dac_a[0]" SITE "H15" ;
LOCATE COMP "o_dac_a[1]" SITE "J15" ;
LOCATE COMP "o_dac_a[2]" SITE "K15" ;
LOCATE COMP "o_dac_a[3]" SITE "K16" ;
LOCATE COMP "o_dac_a[4]" SITE "K14" ;
LOCATE COMP "o_dac_a[5]" SITE "L16" ;
LOCATE COMP "o_dac_a[6]" SITE "M16" ;
LOCATE COMP "o_dac_a[7]" SITE "N16" ;
LOCATE COMP "o_dac_a[8]" SITE "L14" ;
LOCATE COMP "o_dac_a[9]" SITE "N14" ;
LOCATE COMP "o_dac_b[0]" SITE "G14" ;
LOCATE COMP "o_dac_b[1]" SITE "D14" ;
LOCATE COMP "o_dac_b[2]" SITE "F14" ;
LOCATE COMP "o_dac_b[3]" SITE "D16" ;
LOCATE COMP "o_dac_b[4]" SITE "E14" ;
LOCATE COMP "o_dac_b[5]" SITE "E16" ;
LOCATE COMP "o_dac_b[6]" SITE "E15" ;
LOCATE COMP "o_dac_b[7]" SITE "F16" ;
LOCATE COMP "o_dac_b[8]" SITE "F15" ;
LOCATE COMP "o_dac_b[9]" SITE "G15" ;
LOCATE COMP "q_clk_n" SITE "E9" ;
LOCATE COMP "q_clk_p" SITE "D8" ;
IOBUF PORT "dac_clk_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dac_clk_p" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i_clk_n" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "i_clk_p" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "o_dac_a[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_a[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_dac_b[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_wbu_uart_tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "q_clk_n" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "q_clk_p" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "i_wbu_uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "o_wbu_uart_tx" SITE "C11" ;
LOCATE COMP "i_wbu_uart_rx" SITE "A11" ;
LOCATE COMP "o_dac_cw_b" SITE "M14" ;
IOBUF PORT "o_dac_cw_b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "i_sw0" SITE "F8" ;
IOBUF PORT "i_sw0" IO_TYPE=LVCMOS33 HYSTERESIS=SMALL ;
DEFINE PORT GROUP "dac_bus" "o_dac_a[9]" 
"o_dac_a[8]" 
"o_dac_a[7]" 
"o_dac_a[6]" 
"o_dac_a[5]" 
"o_dac_a[4]" 
"o_dac_a[3]" 
"o_dac_a[2]" 
"o_dac_a[1]" 
"o_dac_a[0]" 
"o_dac_b[9]" 
"o_dac_b[8]" 
"o_dac_b[7]" 
"o_dac_b[6]" 
"o_dac_b[5]" 
"o_dac_b[4]" 
"o_dac_b[3]" 
"o_dac_b[2]" 
"o_dac_b[1]" 
"o_dac_b[0]" ;
CLOCK_TO_OUT GROUP "dac_bus" 2.500000 ns MIN -0.300000 ns CLKNET "dac_clk_p_c" CLKOUT PORT "dac_clk_p" ;
BLOCK JTAGPATHS ;
